body {
    background-image: url("photo1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

	
a:link, a:visited {
  color: white;
  text-shadow: 1px 1px white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

h2 {
	font-size: 35;
}

h3 {
	font-size: 50px;
}

p {
	font-size: 25px;
}


p, h3, h2 {
    text-shadow: 3px 2px white;
	text-align: center;
	color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: red;
  text-shadow: 1px 1px red;
}