body {
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  color: white;
  text-align: center;
  text-shadow: 3px 2px grey;
  font-family: Lucida Console;


p {
  color: white;
  text-shadow: 3px 2px grey;
  font-family: Lucida Console;
  text-align: center;
}

a:link, a:visited {
  background-color: DodgerBlue;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: Purple;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: DodgerBlue;
  position:fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: purple;
}